:root {
  --primary-color: rgb(232, 232, 232);
  --font-color: #444;
  --font-color-lighter: #808080;
  --font-color-hover: #999;

  --element-bg-color: rgb(245, 245, 245);
  --element-bg-color-hover: rgb(255, 255, 255);

  --element-header-bg-color: rgb(85, 85, 85);
  --element-header-bg-color-hover: rgb(51, 51, 51);
  --element-header-font-color: rgb(255, 255, 255);

  --box-shadow-color: rgb(128, 128, 128);
  --section-stripe-box-shadow-color: rgba(128, 128, 128, 1);

  --border-color: rgb(169, 169, 169);
  --border-color-lighter: rgb(204, 204, 204);

  --link-access-font-color: rgb(33, 33, 255);
  --link-access-font-color-hover: rgb(255, 255, 255);
  --link-access-border-color: rgb(75, 75, 255);
  --link-access-bg-color-hover: var(--link-access-border-color);
  --link-access-bg-color-active-gradient-color-1: rgb(152, 152, 255);
  --link-access-bg-color-active-gradient-color-2: var(
    --link-access-border-color
  );

  --thematic-gradient-color-1: blue;
  --thematic-gradient-color-2: red;

  --thematic-gradient-color-1-unhovered: rgb(100, 100, 100);
  --thematic-gradient-color-2-unhovered: rgb(211, 211, 211);
}

[data-theme="dark"] {
  --primary-color: #1b1b1b;
  --font-color: #fff;
  --font-color-lighter: #808080;
  --font-color-hover: #999;

  --element-bg-color: rgb(52, 52, 52);
  --element-bg-color-hover: rgb(62, 62, 62);

  --element-header-bg-color: rgb(85, 85, 85);
  --element-header-bg-color-hover: rgb(51, 51, 51);
  --element-header-font-color: rgb(255, 255, 255);

  --box-shadow-color: rgba(128, 128, 128, 0); /* Adicionei um alpha igual a 0 */
  --section-stripe-box-shadow-color: rgba(128, 128, 128, 0);

  --border-color: rgb(65, 65, 65);
  --border-color-lighter: rgb(35, 35, 35);

  --link-access-font-color: rgb(122, 122, 255);
  --link-access-font-color-hover: rgb(255, 255, 255);
  --link-access-border-color: rgb(122, 122, 255);
  --link-access-bg-color-hover: var(--link-access-border-color);
  --link-access-bg-color-active-gradient-color-1: rgb(152, 152, 255);
  --link-access-bg-color-active-gradient-color-2: var(
    --link-access-border-color
  );

  --thematic-gradient-color-1: blue;
  --thematic-gradient-color-2: red;

  --thematic-gradient-color-1-unhovered: rgb(100, 100, 100);
  --thematic-gradient-color-2-unhovered: rgb(211, 211, 211);
}

/* ------------------------------------- */

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  user-select: none;
}

html {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: var(--font-color);
  background-color: var(--primary-color);
}

body {
  margin: 0 auto;
}

main {
  max-width: 800px;
  margin: 2rem auto;
}

main #main-wrap {
  margin: 0 1rem;
}

section {
  margin-top: 3rem;
}

.section-stripe {
  width: 25%;
  background: linear-gradient(
    to right,
    var(--thematic-gradient-color-1),
    var(--thematic-gradient-color-2)
  );
  height: 10px;
  box-shadow: 3px 3px var(--section-stripe-box-shadow-color);
}

p {
  line-height: 1.75rem;
}

/* ------------------------------------- */
/* Peguei o código abaixo da seguinte página: */
/* https://dev.to/ananyaneogi/create-a-dark-light-mode-switch-with-css-variables-34l8 */
.theme-switch-wrapper {
  display: flex;
  align-items: center;

  position: fixed;
  top: 10px;
  right: 10px;
}

.theme-switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.theme-switch input {
  display: none;
  /* position: fixed;
  top: 0;
  left: 0; */
}

.slider {
  /* background-color: #ccc; */
  background-color: rgb(253, 221, 115);
  cursor: pointer;
  position: absolute;

  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  transition: 0.4s;
}

.slider:before {
  background-color: #fff;
  background-image: url("./img/sun-icon.svg");
  background-size: 1rem;
  background-repeat: no-repeat;
  background-position: center;
  content: "";
  /* content: url(); */
  position: absolute;

  width: 26px;
  height: 26px;

  bottom: 4px;
  left: 4px;
  transition: 0.4s;
}

input:checked + .slider {
  /* background-color: #66bb6a; */
  background-color: #7866bb;
}

input:checked + .slider:before {
  background-image: url("./img/moon-icon.svg");
  background-size: 1rem;
  background-repeat: no-repeat;
  background-position: center;
  content: "";
}

/* input:checked + .slider:before {
  transform: translateX(26px);
} */
#cb-dark-theme:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

@media only screen and (max-width: calc(800px + 60px + 10px + 1rem + 3rem)) {
  /* Estou adicionando este bloco para impedir que o switcher desça junto com a rolagem da tela se o tamanho da tela for menor que um valor calculado. */
  /* 800px: main max-width; 60px: .theme-switch width; 10px: .theme-switch-wrapper right position; 1rem: #main-wrap margin; 3rem: margem de segurança */
  .theme-switch-wrapper {
    position: absolute;
  }
}
/* ------------------------------------- */

a.subtle-link {
  color: var(--font-color);
  text-decoration: none;
  border-bottom: 1px dashed grey;
}

a.subtle-link:hover {
  color: var(--font-color-hover);
  border-bottom: none;
}

a.external-link:after {
  background-color: var(--font-color);
  content: "";
  display: inline-flex;
  height: 0.6rem;
  width: 0.6rem;
  margin-left: 5px;
  -webkit-mask-image: url(./img/external-link-icon.svg);
  -webkit-mask-size: cover;
}

a.external-link:hover:after {
  background-color: var(--font-color-hover);
}

a.link-no-color {
  color: gray;
  /* text-decoration: none; */
}

/* ------------------------------------- */

#welcome-text {
  margin-bottom: 4rem;
}

/* ------------------------------------- */

#page-title {
  padding: 1rem;
  border-radius: 0.4rem;
  transition: 0.2s all ease-in-out;
}

/* ------------------------------------- */

#navbar-strip {
  position: sticky;
  top: 5px;
  background-color: rgba(0, 0, 0, 0.85);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 4rem;
  border-radius: 0.4rem;
  border: 1px solid var(--border-color-lighter);
  width: 100%;
  margin: 0 auto;

  box-shadow: 0px 5px 8px var(--box-shadow-color);
  z-index: 2;
}

.navbar-element {
  background-color: var(--element-bg-color);
  color: var(--font-color);
  text-align: center;
  margin: 0 0.75rem;
  min-width: 100px;
  padding: 0.5rem;
  font-weight: bold;
  transition: 0.2s all ease-in-out;
  border-radius: 0.2rem;

  border-bottom-width: 5px;
  border-bottom-style: solid;
  border-image: linear-gradient(
      to right,
      var(--thematic-gradient-color-1-unhovered),
      var(--thematic-gradient-color-2-unhovered)
    )
    1;
  border-bottom-left-radius: 0.2rem;
}

@media only screen and (max-width: 400px) {
  /* Se o tamanho da tela for menor que 400px, faço alguns ajustes no navbar. */
  #navbar-strip {
    position: sticky;
    top: 5px;
    background-color: rgba(0, 0, 0, 0.85);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 4rem;
    border-radius: 0.4rem;
    border: 1px solid gray;
    width: 100%;
    margin: 0 auto;

    box-shadow: 0px 5px 8px var(--box-shadow-color);
    z-index: 2;

    flex-wrap: wrap;
  }

  .navbar-element {
    background-color: var(--element-bg-color);
    color: var(--font-color);
    text-align: center;
    margin: 0 0.25rem;
    min-width: 80px;
    padding: 0.25rem;
    font-weight: bold;
    transition: 0.2s all ease-in-out;
    border-radius: 0.2rem;

    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-image: linear-gradient(
        to right,
        var(--thematic-gradient-color-1-unhovered),
        var(--thematic-gradient-color-2-unhovered)
      )
      1;
    border-bottom-left-radius: 0.2rem;
  }
}

.navbar-element:hover {
  background-color: var(--element-bg-color-hover);
  cursor: pointer;
  color: var(--font-color-hover);
  border-image: linear-gradient(
      to right,
      var(--thematic-gradient-color-1),
      var(--thematic-gradient-color-2)
    )
    1;
}

#navbar-strip a {
  text-decoration: none;
}

/* ------------------------------------- */

.cont-projects {
  margin-top: 2rem;
  max-width: 100%;
  display: grid;
  grid-auto-rows: 1fr;
  column-gap: 1.25rem;
  row-gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

/* ------------------------------------- */

.proj-container {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  background-color: var(--element-bg-color);
  border: 1px solid var(--border-color);
  border-radius: 0.5rem;
  box-shadow: 0px 0px 4px 0px var(--box-shadow-color);
  transition: 0.2s all ease-in-out;
  max-width: 372px;
}

.proj-container:hover {
  background-color: var(--element-bg-color-hover);
  box-shadow: 0px 0px 10px 0px var(--box-shadow-color);
}

.proj-container:active {
  background-color: var(--element-bg-color);
  box-shadow: 0px 0px 5px 2px var(--box-shadow-color);
}

.proj-container:hover .header-proj-container {
  border-image: linear-gradient(
      to right,
      var(--thematic-gradient-color-1),
      var(--thematic-gradient-color-2)
    )
    1;
}

.proj-container:hover .tech-icon-logo {
  filter: opacity(0.75) saturate(1);
}

.proj-container:hover .header-proj-container {
  background-color: var(--element-header-bg-color-hover);
}

.header-proj-container {
  background-color: var(--element-header-bg-color);
  color: var(--element-header-font-color);
  font-weight: bold;
  padding: 0.5rem 0rem 0.5rem 1rem;
  border-radius: 0.5rem 0.5rem 0 0;
  overflow: hidden;
  border-bottom-width: 5px;
  border-bottom-style: solid;
  border-image: linear-gradient(
      to right,
      var(--thematic-gradient-color-1-unhovered),
      var(--thematic-gradient-color-2-unhovered)
    )
    1;
  transition: 0.2s all ease-in-out;
}

.body-proj-container {
  padding: 0 1rem;
  line-height: 1.75rem;
  text-align: justify;
  flex-grow: 1; /* Esta linha faz com que o techs-proj-container fique grudado na base, como desejado. */
}

.link-project-access {
  font-weight: bold;
  font-size: small;
  color: var(--link-access-font-color);
  padding: 0.5rem;

  border-style: solid;
  border-width: 1px;
  border-radius: 0.33rem;
  border-color: var(--link-access-border-color);

  text-decoration: none;

  transition: 0.1s all ease-in-out;
}

.link-project-access:hover {
  background-color: var(--link-access-bg-color-hover);
  color: var(--link-access-font-color-hover);
}

.link-project-access:active {
  background: radial-gradient(
    circle at 50%,
    var(--link-access-bg-color-active-gradient-color-1) 50%,
    var(--link-access-bg-color-active-gradient-color-2)
  );
}

.link-proj-container {
  padding: 0.5rem 0rem 2rem 1rem;
  margin-top: auto;
  margin-bottom: auto;
  align-items: center;
  justify-content: end;
}

.techs-proj-container {
  padding: 0.5rem 0rem 0.5rem 1rem;
  margin-top: auto;
  margin-bottom: auto;
  align-items: center;
  justify-content: end;
  font-size: small;
  /* color: rgb(128, 128, 128); */
  color: var(--font-color-ligher);
}

.footer-proj-container {
  padding: 0.5rem 0rem 0.5rem 1rem;
  justify-content: end;
  margin-top: auto; /* Esta linha é importante para posicionar no final. */
  align-items: center;
  font-size: small;
  border-top: 1px solid var(--border-color);
  color: var(--font-color-ligher);
}

.tech-icon-logo {
  margin-right: 0rem;
  filter: opacity(0.75) saturate(0);
  transition: 0.2s all ease-in-out;
}

.fa-brands,
.fa-solid {
  font-size: larger;
}

.fa-html5 {
  color: orangered;
}

.fa-css3-alt {
  color: #3891e9;
}

.fa-file-excel {
  color: #286e44;
}

.matlab-logo,
.neural-network-icon,
.vba-logo,
.nodejs-logo {
  width: 16px;
  height: 16px;
  filter: opacity(0.75) saturate(0);
  vertical-align: middle;
}

.matlab-logo:hover,
.neural-network-icon:hover {
  filter: opacity(0.75) saturate(1);
}

.neural-network-icon {
  transform: scale(0.75, 0.75);
  filter: opacity(0.75) saturate(0);
}

.tech-pill {
  background-color: none;
  padding: 0.25rem 0.5rem;
  border-radius: 10px;
  /* color: white; */
  display: inline-block;
  border: 1px solid var(--border-color-lighter);
  margin-right: 0.2rem;
  margin-bottom: 0.4rem;
}

/* ------------------------------------- */

footer {
  text-align: center;
  margin-bottom: 1rem;
}

#footer-line {
  margin: 0 auto 1rem auto;
  background-color: var(--border-color);
  width: 70%;
  height: 1px;
}
