* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #444;
    background-color: rgb(235, 235, 235);
}

a {
    text-decoration: underline;
    color: blue;
}

body {
    margin: 0 auto;
}

#page-title {
    /* background-color: rgba(0,0,0,0.85); */
    padding: 1rem;
    /* color: white; */
    /* border: 3px solid black; */
    border-radius: 0.4rem;
    transition: 0.2s all ease-in-out;
    /* cursor: pointer; */
}

#page-title:active {
    /* color: white;
    background: linear-gradient(to right, blue, red);
    border: 3px solid white;
    transform: scale(1.05, 1.05); */
}

main {
    max-width: 800px;
    margin: 2rem auto;
}

section {
    margin-top: 3rem;
}

.section-stripe {
    width: 25%;
    background: linear-gradient(to right, blue, red);
    height: 10px;
    box-shadow: 3px 3px grey;
}

.section-stripe:active {
    /* transform: scale(0.65, 1.55); */
}

main #main-wrap {
    margin: 0 1rem;
}

#welcome-text {
    margin-bottom: 4rem;
}

#navbar-strip {
    position: sticky;
    top: 5px;
    /* background-color: black; */
    /* background: linear-gradient(to right, black, rgba(0,0,0,0.07)); */
    background-color: rgba(0,0,0,0.85);
    /* background: linear-gradient(to right, transparent, black); */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* height: 60px; */
    height: 4rem;
    border-radius: 0.4rem;
    border: 1px solid gray;
    /* border-top: 1px solid #AAA; */
    /* border-bottom: 1px solid #AAA; */
    width: 100%;
    margin: 0 auto;
    
    box-shadow: 0px 5px 8px grey;
    z-index: 2;
}

.navbar-element {
    background-color: whitesmoke;
    color: #555;
    text-align: center;
    margin: 0 0.75rem;
    min-width: 100px;
    padding: 0.5rem;
    font-weight: bold;
    transition: 0.2s all ease-in-out;
    border-radius: 0.2rem;

    border-bottom-width: 5px;
    border-bottom-style: solid;
    border-image: linear-gradient(to right, rgb(100, 100, 100), lightgray) 1;
    border-bottom-left-radius: 0.2rem;
}

.navbar-element:hover {
    /* filter: grayscale(50%); */
    /* transform: scale(1.05, 1.05); */
    /* background: linear-gradient(to right, blue, red); */
    /* box-shadow: 0px 5px 2px 0px gray; */
    /* color: blue; */
    cursor: pointer;
    /* background-color: cornsilk; */
    /* box-shadow: inset 3px 3px gray; */
    color: black;

    border-image: linear-gradient(to right, blue, red) 1;
}

#navbar-strip a {
    text-decoration: none;
}

#cont-projects {
    /* margin-top: 2rem; */
    max-width: 100%;
    display: grid;
    /* grid-template-columns: repeat(2, 1fr); */
    grid-auto-rows: 1fr;
    column-gap: 1.25rem;
    row-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.proj-container {
    display: flex;
    /* align-items: stretch; */
    justify-content: flex-end;
    flex-direction: column;
    background-color: rgb(245, 245, 245);
    border: 1px solid darkgray;
    border-radius: 0.5rem;
    box-shadow: 0px 0px 5px 2px rgb(128, 128, 128);
    transition: 0.2s all ease-in-out;
    transform: scale(0.99, 0.99);
}

.proj-container:hover {
    background-color: white;
    box-shadow: 0px 0px 10px 3px rgb(128, 128, 128);
    transform: scale(1,1);
}

.proj-container:active {
    background-color: rgb(245, 245, 245);
    box-shadow: 0px 0px 5px 2px rgb(128, 128, 128);
    transform: scale(0.99, 0.99);
}

.proj-container:hover .header-proj-container {
    border-image: linear-gradient(to right, blue, red) 1;
}

.proj-container:hover .tech-icon-logo {
    filter: opacity(0.75) saturate(1);
}

.proj-container:hover .header-proj-container {
    background-color: #333;
}

.header-proj-container {
    background-color: #555;
    /* background: linear-gradient(to right, white, white); */
    color: white;
    font-weight: bold;
    padding: 0.5rem 0rem 0.5rem 1rem;
    border-radius: 0.5rem 0.5rem 0 0;
    overflow: hidden;
    border-bottom-width: 5px;
    border-bottom-style: solid;
    border-image: linear-gradient(to right, rgb(100, 100, 100), lightgray) 1;
    transition: 0.2s all ease-in-out;
}

.body-proj-container {
    padding: 0 1rem;
    line-height: 1.75rem;
    text-align: justify;
    flex-grow: 1; /* Esta linha faz com que o techs-proj-container fique grudado na base, como desejado. */
}

.link-project-access {
    font-weight: bold;
    font-size: small;
    color: rgb(33, 33, 255);
    padding: 0.5rem;
    
    border-style: solid;
    border-width: 1px;
    border-radius: 0.33rem;
    border-color: rgb(75, 75, 255);
    
    text-decoration: none;
    
    transition: 0.1s all ease-in-out;
}

.link-project-access:hover {
    background-color: rgb(75, 75, 255);
    color: white;
    /* box-shadow: 2px 2px 0px 0px grey; */
}

.link-project-access:active {
    box-shadow: 3px 3px black;
    background: radial-gradient(circle at 50%, white 30%, rgb(75, 75, 255));
}

.link-proj-container {
    /* background-color: orange; */
    padding: 0.5rem 0rem 2rem 1rem;
    margin-top: auto;
    margin-bottom: auto;
    align-items: center;
    justify-content: end;
    /* font-size: small; */
    /* color: gray;     */
}

.techs-proj-container {
    /* background-color: orange; */
    padding: 0.5rem 0rem 0.5rem 1rem;
    margin-top: auto;
    margin-bottom: auto;
    align-items: center;
    justify-content: end;
    font-size: small;
    color: gray;    
}

.footer-proj-container {
    padding: 0.5rem 0rem 0.5rem 1rem;
    justify-content: end;
    margin-top: auto; /* Esta linha é importante para posicionar no final. */
    align-items: center;
    font-size: small;
    border-top: 1px solid darkgray;
    color: gray;
}

.tech-icon-logo {
    margin-right: 0.5rem;
    filter: opacity(0.75) saturate(0);
    transition: 0.2s all ease-in-out;
}

.fa-brands, .fa-solid {
    font-size: larger;
}

.fa-html5 {
    color: orangered;
}

.fa-css3-alt {
    color: #3891e9;
}

.fa-file-excel {
    color: #286e44;
}

.matlab-logo, .neural-network-icon, .vba-logo {
    width: 20px;
    height: 20px;
    filter: opacity(0.75) saturate(0);
    vertical-align: middle;
}

.matlab-logo:hover, .neural-network-icon:hover {
    filter: opacity(0.75) saturate(1);
}

.neural-network-icon {
    transform: scale(0.75, 0.75);
    filter: opacity(0.75) saturate(0);
}

a.link-no-color {
    color: gray;
    /* text-decoration: none; */
}

#bio-elements-container {
    display: grid;
    grid-auto-rows: 1fr;
    /* align-items: center; */
    /* grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); */
    /* grid-template-rows: repeat(auto-fit, minmax(1fr, 600px)); */
    /* flex-direction: column; */
}

.bio-element {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: white;
    /* padding: 0.25rem 1rem; */
    border: 1px solid rgb(192, 192, 192);
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    box-shadow: 0px 0px 5px 2px rgb(128, 128, 128);
    /* margin: auto; */
    /* margin: auto 0; */
    /* margin-top: auto; */
    transition: 0.2s all ease-in-out;
}

.bio-element:hover {
    box-shadow: 0px 0px 10px 3px rgb(128, 128, 128);
}

.bio-element:hover .bio-element-header {
    background-color: #333;
    /* border-bottom: 5px solid green; */
    border-bottom-width: 5px;
    border-bottom-style: solid;
    /* border-image: linear-gradient(to right, green, yellow); */
    border-image: linear-gradient(to right, blue, red) 1;
}

.bio-element-header {
    background-color: #555;
    color: white;
    font-weight: bold;
    padding: 0.5rem 0rem 0.5rem 1rem;
    border-radius: 0.5rem 0.5rem 0 0;
    border-bottom-width: 5px;
    border-bottom-style: solid;
    border-image: linear-gradient(to right, rgb(100, 100, 100), lightgray) 1;
    transition: 0.2s all ease-in-out;
}

.bio-element-body {
    /* background-color: orange; */
    padding: 0.5rem 0rem 0.5rem 1rem;
}

.bio-element p {
    /* margin: auto 0; */
    /* background-color: orange; */
}

footer {
    /* border-top: 1px solid #777; */
    text-align: center;
    /* padding-top: 1rem; */
    margin-bottom: 1rem;
}

#footer-line {
    margin: 0 auto 1rem auto;
    background-color: #777;
    width: 70%;
    height: 1px;
}